BOT_TOKEN=xoxb-XXX
APP_TOKEN=xapp-YYYY
SLACK_APP_ID=AZZZZZZZ
SN_USER=
SN_PASS=
SN_HOST=
SLACK_REACTION_EMOJI=snow_cloud
SN_TASK_REGEXP=SCTASK[0-9]{7}
SN_REQ_ITEM_REGEXP=RITM[0-9]{7}
SN_REQ_REGEXP=REQ[0-9]{7}
SN_INC_REGEXP=INC[0-9]{7}
